<footer class="footer">
  <p style="text-align:center;padding-top:5px;">
  <span>{{ site.footerText }}</span></p>
  <p style="text-align:center;padding-top:5px;">
  <a href="{{ site.baseurl }}/static/xml/rss.xml">RSS</a>
  <a href="{{ site.baseurl }}/static/xml/sitemap.xml">SITEMAP</a>
  <span>Theme By</span>
  <a href="https://github.com/TMaize/tmaize-blog">TMaize</a></p>
<p style="text-align:center;padding-top:5px;">本站运行：<span id="days">0</span>天｜本站总访问量<span id="busuanzi_value_site_pv">0</span>次
</p>
<a href="https://icp.gov.moe/?keyword=20220237" target="_blank">萌ICP备20220237号</a>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<script>
    var s1 = '2020-01-03';
    s1 = new Date(s1.replace(/-/g, "/"));
    s2 = new Date();
    var days = s2.getTime() - s1.getTime();
    var number_of_days = parseInt(days / (1000 * 60 * 60 * 24));
    document.getElementById('days').innerHTML = number_of_days;
</script>

</footer>
<div id="to-top">
  <span></span>
  <span></span>
</div>
