<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
{% include head.html -%}
<body ondragstart="return false;">
{% include header.html -%}
<div class="page page-post">
  <h1 class="title" id="{{ page.title }}">{{ page.title }}</h1>
  {% if page.date %}
  <div class="subtitle">{{site.author}} 于 {{ page.date | date: "%Y-%m-%d" }} 发布</div>
  {% endif %}
  <div class="post">
    {{ content }}
  </div>
  {% if site.extAdsense -%}
  <div class="adsense" style="overflow: hidden;">
    {% include ext-adsense.html -%}
  </div>
  {% endif %}
  <div id="gitalk-container" style="margin: 30px;padding-bottom: 30px;"></div>
<script>  var gitalk = new Gitalk({
  clientID: '107ccf93ebf75ad753bf', 
  clientSecret: '22481d8d165b256890d7b3ac34017dd1e9742a24', 
  repo: 'wuko233.github.io', 
  owner: 'wuko233', 
  admin: ['wuko233'], 
  id: md5(location.pathname),    
  title: document.title,
  body:  '文章链接：'+ decodeURIComponent(location.origin+location.pathname),
  distractionFreeMode: false
})
gitalk.render('gitalk-container');
</script>
</div>
{% include footer.html -%}
{% include script.html -%}
</body>
</html>